# Compiled byte code
*.class

# Log files
*.log

# Directory for instrumented classes
cov/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual Machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## IDE-specific ##
# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Intellij
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Maven
target/
log/

# Node
node_modules/
npm-debug.log

# Python
*.pyc
*.pyo
*.egg-info/
dist/
build/
